extends layout
if loggedin
    block jumbotroncontent
        h1#title Admin's corner

    block content
        h1 Registered users
        div#userlist
            table#quiztable(data-url='/users', data-toggle='table')
                thead
                    tr
                        th(data-field="_id") Id
                        th(data-field="username") Username
                        th(data-field="password") Password
                        th(data-field="operate", data-formatter="operateFormatter" data-events="operateEvents") Operations

        script.
            function operateFormatter(value, row, index) {
                return [
                    '<a class="remove ml10" href="javascript:void(0)" title="Remove">',
                    '<i class="glyphicon glyphicon-remove"></i>',
                    '</a>'
                ].join('');
            }

            window.operateEvents = {
                'click .remove': function (e, value, row, index) {
                    var type = (typeof row.quizname === 'undefined' ? 'users' : 'quiz');
                    $.post('/' + type + '/delete/' + row._id, function (data) {
                        console.log('Deleted ' + type + ' with id: ' + row._id);
                        $('#' + row._id).fadeOut();
                    });
                }
            };

        h1 Quizes
        div#quizlist
            table#quiztable(data-url='/quiz', data-toggle='table')
                thead
                    tr
                        th(data-field="quizname") Name
                        th(data-field="author") Author
                        th(data-field="operate", data-formatter="operateFormatter" data-events="operateEvents") Operations