extends layout
block jumbotroncontent
    h1#title Create new quiz

block content
    form#questionform(action='/quiz/new', method='POST', enctype='application/json')
        p
            input.form-control#quizname(name="quizname", type="text", placeholder="Quiz name")
        p#questioncontainer
        p
            div.btn-group#finalize(role="group")
                button.btn.btn-primary#newquestion Add question
                button.btn.btn-default#savequiz(type='submit') Save quiz

    script.
        var questionCount = 0;
        var answerCount = [];

        function addAnswerAlternative(questionId) {
            $('#question_' + questionId + '_answers').append('<div id="question_' + questionId + '_answer_' + answerCount[questionId] + '"></div>');
            $('#question_' + questionId + '_answer_' + answerCount[questionId] + ' ').append(
                    '<div class="input-group">' +
                    '<span class="input-group-addon">' +
                    '<input type="checkbox" name="questions[' + questionId + '][answers][' + answerCount[questionId] + '][iscorrect]">' +
                    '</span>' +
                    '<input type="text" name="questions[' + questionId + '][answers][' + answerCount[questionId] +
                    '][text]" class="form-control" placeholder="Answer alternative #' + (answerCount[questionId] + 1) + '">' +
                    '</div>');

            answerCount[questionId]++;
            $('#removeanswer_' + questionId).prop('disabled', answerCount[questionId] < 3);
        }

        function removeAnswerAlternative(questionId) {
            $('#question_' + questionId + '_answer_' + --answerCount[questionId]).remove();
            $('#removeanswer_' + questionId).prop('disabled', answerCount[questionId] < 3);
        }

        function addQuestion() {
            $("#questioncontainer").append(
                    '<div class="row">' +
                    '<div class="col-md-5">' +
                    '<div class="panel panel-default">' +
                    '<div class="panel-heading">' +
                    '<input id="question_' + questionCount + '" name="questions[' + questionCount + '][text]" placeholder="Question" class="form-control">' +
                    '</div>' +
                    '<div id="question_' + questionCount + '_answers" class="panel-body"></div>' +
                    '<div class="panel-footer">' +
                    '<div role="group" class="btn-group">' +
                    '<button class="btn btn-primary" onclick="addAnswerAlternative(' + questionCount + '); return false;">Add answer</button>' +
                    '<button id="removeanswer_' + questionCount + '" class="btn btn-default" onclick="removeAnswerAlternative(' + questionCount + '); return false;">Remove answer</button>' +
                    '</div>' +
                    '</div>' +
                    '</div>');

            answerCount.push(0);
            addAnswerAlternative(questionCount);
            addAnswerAlternative(questionCount);
            questionCount++;
        }

        $(function () {
            addQuestion();
        });

        $('#newquestion').click(function () {
            addQuestion();
            return false;
        });

        $('#savequiz').click(function () {
            obj = {
                quizname: $('#quizname').val(),
                author: "",
                questions: []
            };

            for (var i = 0; i < questionCount; i++) {
                obj.questions.push({
                    text: $('#question_' + i).val(),
                    answers: []
                });

                for (var j = 0; j < answerCount[i]; j++) {
                    obj.questions[i].answers.push({
                        text: $('#question_' + i + '_answer_' + j + ' > div > input').val(),
                        correct: $('#question_' + i + '_answer_' + j + ' > div > span > input[type="checkbox"]').is(':checked')
                    });
                }
            }

            $.ajax({
                url: '/quiz/new',
                type: "POST",
                data: JSON.stringify(obj),
                processData: false,
                contentType: "application/json; charset=UTF-8"
            });

            return false;
        });