extends layout
block jumbotroncontent
    h1#header Create new user

block content
    h1 Enter the desired user details
    form#usercreate
        input.form-control#username(type="text", name="username", placeholder="Username")
        input.form-control#password(type="password", name="password", placeholder="Password")
        button.btn.btn-default#submit(type="button") Create account

        script.
            $(function () {
                $('#submit').click(function () {
                    $.post('/users/create', {
                        username: $('#username').val(),
                        password: $('#password').val()
                    }, function (data) {
                        $("#submit, #header").fadeOut(function () {
                            $("#header").html("Success!").fadeIn();
                        });
                    });
                });
            });
