extends layout
block jumbotroncontent
    h1#title Create new quiz

block content
    p
        div.row
            div.col-md-5
                input.form-control#quizname(type="text", placeholder="Quiz name")
    div#questioncontainer
    p
        div.btn-group#finalize(role="group")
            button.btn.btn-primary#newquestion Add question
            button.btn.btn-default#savequiz Save quiz

    script.
        var questionCount = 0;
        var answerCount = [];

        function addAnswerAlternative(questionId) {
            $('#question_' + questionId + '_answers').append('<div id="question_' + questionId + '_answer_' + ++answerCount[questionId] + '"></div>'); // TODO null-index answers!
            $('#question_' + questionId + '_answer_' + answerCount[questionId] + ' ').append(
                    '<div class="input-group">' +
                    '<span class="input-group-addon">' +
                    '<input type="checkbox">' +
                    '</span>' +
                    '<input class="form-control" type="text" placeholder="Answer alternative #' + answerCount[questionId] + '">' +
                    '</div>');

            $('#removeanswer_' + questionId).prop('disabled', answerCount[questionId] < 3);
        }

        function removeAnswerAlternative(questionId) {
            $('#question_' + questionId + '_answer_' + answerCount[questionId]).remove();
            $('#removeanswer_' + questionId).prop('disabled', --answerCount[questionId] < 3);
        }

        function addQuestion() {
            $("#questioncontainer").append(
                    '<div class="row">' +
                    '<div class="col-md-5">' +
                    '<div class="panel panel-default">' +
                    '<div class="panel-heading">' +
                    '<input id="question_' + questionCount + '" placeholder="Question" class="form-control">' +
                    '</div>' +
                    '<div id="question_' + questionCount + '_answers" class="panel-body"></div>' +
                    '<div class="panel-footer">' +
                    '<div role="group" class="btn-group">' +
                    '<button class="btn btn-primary" onclick="addAnswerAlternative(' + questionCount + ');">Add answer</button>' +
                    '<button id="removeanswer_' + questionCount + '" class="btn btn-default" onclick="removeAnswerAlternative(' + questionCount + ')">Remove answer</button>' +
                    '</div>' +
                    '</div>' +
                    '</div>');

            answerCount.push(0);
            addAnswerAlternative(questionCount);
            addAnswerAlternative(questionCount);
            questionCount++;
        }

        $(function () {
            addQuestion();
        });

        $('#newquestion').click(function () {
            addQuestion();
        });

        $('#savequiz').click(function () {
            $('#finalize').fadeOut('fast');

            var quiz = {
                name: $('#quizname').val(),
                author: "",
                questioncount: questionCount,
                questions: []
            };

            for (var i = 0; i < questionCount; i++) {
                quiz.questions.push(new {
                    text: $('#question_' + i).val(),
                    answers: []
                });

                for (j = 1; j < answerCount[i] + 1; j++) { // TODO instead of this hack, implement actual null-indexing
                    quiz.questions[i].answers.push(new {
                        text: $('#question_' + i + '_answer_' + j + ' > div > input').val(),
                        iscorrect: $('#question_' + i + '_answer_' + j + ' > div > span > input').prop('checked'),
                    });
                }
            }

            console.log("Attempting to persist created quiz.");
            $.post('/quiz/new', quiz, function () {
                $('#title').fadeOut('fast', function () {
                    $('#title').html("Successfully saved quiz").fadeIn('fast');
                })
            });
        });