extends layout
block content
    nav.navbar.navbar-default
        div.container-fluid
            div.navbar-header
                button.navbar-toggle.collapsed(data-toggle="collapse", type="button")
                a.navbar-brand(href="#")
                    img(src="favicon.ico", style="display: inline; padding-right: 5px")
                    span EdYou

            if loggedin == false
                form.navbar-form.navbar-right#loginform(role="form")
                    div.form-group
                        input.form-control#user(type="text", placeholder="Username")
                        input.form-control#pass(type="password", placeholder="Password")
                        button.btn.btn-default#loginbtn(type="button") Log in
                    a(href="/users/new")
                        button.btn.btn-default#registerbtn(type="button") New user?
                    script.
                        // On document ready ..
                        $(function () {
                            $("#user").focus();
                        });

                        $("#loginbtn").click(function () {
                            $.post('/users/login', {
                                username: $('#user').val(),
                                password: $('#pass').val()
                            }, function (data) {
                                $("#loginform").fadeOut(function () {
                                    $("body").fadeOut('fast', function () {
                                        location.reload();
                                    });
                                });
                            }).fail(function () {
                                $("#user").val('Invalid user/pass combo!');
                            });
                        });
            else
                form.navbar-form.navbar-right(style="margin-right: 10px") Signed in as
                    span(style="padding-right: 10px")=username
                    button.btn.btn-default#logoutbtn(type="button") Log out
                    script.
                        $("#logoutbtn").click(function () {
                            $.post('/users/logout', function () {
                                $("body").fadeOut('fast', function () {
                                    location.reload();
                                })
                            });
                        });
    div.container
        div.jumbotron
            h1 Welcome
                if loggedin
                    span=", " + username + "!"
                else
                    span !


        h1 Currently available features
        ul#links
            li
                a(href="/users/") List users
            li Login
            li
                a(href="/users/new") Create user account
            li Users' passwords are stored and validated with SHA1 encryption
            li Favicon
            li User sessions!
            li Logout
            li Somewhat normalized navbar, woo

        h1 NPM package dependencies
        ul#packagedependencies
            li
                a(href="https://www.npmjs.com/package/express-session") express-session
            li
                a(href="https://www.npmjs.com/package/password-hash") password-hash

        h1 To-do
        ul
            li Update package dependencies list?
            li.
                Figure out resource usage? When to close DB connection, ect.<br>
                Perhaps this isn't needed - the server instanciates a single connection,
                and maintains it, no?
            li Actually start implementing quizes?
            li Figure out a nice way to refractor
            li .. additionaly, add proper routes management?
            li Admin interface/control panel?