extends layout
block jumbotroncontent
    h1 Welcome
        if loggedin
            span=", " + username + "!"
        else
            span !

block content
    h1 Currently available features
    ul#links
        li
            a(href="/users/") List users
        li
            a(href="/users/new") Create user account
        li
            a(href="/admin") Administrator's control panel
        li Login, logout
        li User passwords are stored and validated with SHA1 encryption (npm:password-hash)
        li User sessions!
        li Normalized navbar
        li Favicon
        li 31.12@0242: list users only when logged in
        li 31.12@0442: Admin control panel!
        li 31.12@0442: User deletion @ admin CP
        li 31.12@0512: Deleted user's "delete" buttons fade out @ admin CP
        li 31.12@0549: Correct handling of loggedin status for 404 pages, ect. Shows back button.

    h1 To-do
    ul
        li Update package dependencies list?
        li.
            Figure out resource usage? When to close DB connection, ect.<br>
            Perhaps this isn't needed - the server instanciates a single connection,
            and maintains it, no?
        li Actually start implementing quizes?
        li Figure out a nice way to refractor
        li .. additionaly, add proper routes management?
        li Admin interface/control panel?
        li List of users only available if loggedin
        li Session priviledge checker middleware?
        li More failsafe checks? Is logged in, appropriate privileges..
        li Checks to prevent creating accounts with similar usernames & other sanitation?
        li Log in with account & start session when created account (redirect?)

    h1 NPM package dependencies
    ul#packagedependencies
        li
            a(href="https://www.npmjs.com/package/express-session") express-session
        li
            a(href="https://www.npmjs.com/package/password-hash") password-hash