doctype html
html
    head
        title= title
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name='viewport', content='width=device-width, initial-scale=1.0')

        link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap-theme.min.css')

        link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/slate.bootstrap.min.css')
        // More themes available at http://bootswatch.com/

        script(src='/bower_components/jquery/dist/jquery.min.js')
        link(rel='stylesheet', href='/bower_components/bootstrap-table/dist/bootstrap-table.min.css')

        link(rel='stylesheet', href='/bower_components/bootstrap/dist/js/bootstrap.min.js')
        script(src='/bower_components/bootstrap-table/dist/bootstrap-table.min.js')

    body(role="document")
        nav.navbar.navbar-default
            div.container-fluid
                div.navbar-header
                    button.navbar-toggle.collapsed(data-toggle="collapse", type="button")
                    a.navbar-brand(href="/")
                        img(src="../../favicon.ico", style="display: inline; padding-right: 5px")
                        span EdYou

                if error
                    form.navbar-form.navbar-right(style="margin-right: 10px")
                        button.btn.btn-default#backbtn(type="button") Return to previous page
                    script.
                        $(function () {
                            $("#backbtn").click(function () {
                                history.back();
                            });
                        });
                else
                    if !loggedin
                        form.navbar-form.navbar-right#loginform(role="form")
                            div.form-group
                                input.form-control#user(type="text", placeholder="Username", autofocus, style="margin-right: 5px")
                                input.form-control#pass(type="password", placeholder="Password", style="margin-right: 5px")
                            div.btn-group
                                button.btn.btn-default#loginbtn(type="button") Log in
                                button.btn.btn-default#registerbtn(type="button") New user?
                            script.
                                $("#registerbtn").click(function () {
                                    document.location = "/users/new";
                                });

                                $("#loginbtn").click(function () {
                                    $.post('/users/login', {
                                        username: $('#user').val(),
                                        password: $('#pass').val()
                                    }, function (data) {
                                        $("#loginform").fadeOut(function () {
                                            $("body").fadeOut('fast', function () {
                                                location.reload();
                                            });
                                        });
                                    }).fail(function () {
                                        $("#user").val('Invalid user/pass combo!');
                                    });
                                });
                    else
                        form.navbar-form.navbar-right(style="margin-right: 10px") Signed in as&nbsp
                            span(style="padding-right: 10px")=username
                            button.btn.btn-default#logoutbtn(type="button") Log out
                        script.
                            $(function () {
                                $("#logoutbtn").click(function () {
                                    $.post('/users/logout', function () {
                                        $("body").fadeOut('fast', function () {
                                            location.reload();
                                        })
                                    });
                                });
                            });
    div.container
        div.jumbotron
            block jumbotroncontent

        block content
